<div class="off-air">
    <i class="entypo-cancel"></i> Live Stream currently offline
</div>

<div class="on-air">
    <a href="/live" class="on-air-item listen">
        <i class="entypo-signal"></i> I'm live streaming <span class="genre"></span>!
    </a>

    <ul class="stats">
        <li>
            <i class="entypo-users"></i> <span class="listeners"></span> Listeners
        </li>
        <li>
            <i class="entypo-chart-bar"> <span class="listener-peak"></span> Peak</i>
        </li>
        <li>
            <i class="entypo-clock"> Started <span class="start-time"></span></i>
        </li>
    </ul>
</div>
