<div class="off-air">
    <i class="entypo-cancel"></i> Live Stream currently offline
</div>

<div class="on-air">
    <a href="/live" class="on-air-item listen">
        <i class="entypo-signal"></i> I'm live streaming {{genre}}!
    </a>
</div>
