*
	box-sizing: border-box

body
	font: 1em/1.5em "Open Sans"
	color: #34495E

#landing
	max-width: 600px
	margin: 80px auto

	h1
		font-size: 1.4em

		i
			color: #4EC34B

	.bio
		text-align: justify
