*
	box-sizing: border-box

[class*="entypo-"]:before
	font-family: 'entypo', sans-serif;

i
	font-style: normal

a
	text-decoration: none

body
	font: 1em/1.5em "Open Sans"
	color: #34495E
	max-width: 600px
	margin: 80px auto

#description

	h1
		font-size: 1.4em

		i
			color: #4EC34B

	.bio
		text-align: justify

.live-stream-status
	overflow: hidden
	height: 40px
	font-size: 0.9em

	&.live .off-air
		margin-top: -40px

	.off-air
		color: #C9D3D5
		line-height: 40px
		transition: margin 500ms

	.on-air
		color: #888
		margin: 5px 0
		border-radius: 2px
		line-height: 30px
		background:

	a.listen
		display: inline-block
		border-radius: 2px
		background: #4EC34B
		color: #FFF
		padding: 0 8px

	.stats
		float: right
		list-style: none
		margin: 0
		padding: 0

		li
			float: left
			display: inline-block
			margin-left: 10px

			&:first-child
				margin-left: 0
